@import "tailwindcss";

/* Hide scrollbar while still allowing scroll */
.scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
  }
  
  .scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;     /* Firefox */
  }
  